# Node modules
node_modules/

# npm/Yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WhatsApp cache
.wwebjs_cache/

# Session files
sessions/

# Exports (PDF, CSV, dsb)
exports/

# OS files
.DS_Store
Thumbs.db

# assets/ttd
assets/logo/

# Temp files
*.tmp
*.log

# Environment variables
.env
.env.local
.env.*.local

# Build files
dist/
build/
out/